
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/celebrities/create">Add a new celebrity</a>
<a href="/celebrities">See All Celebrities</a>

<div>
<h3><a href="/movies/create">Create Movie</a> <a href="/movies">Movies</a>     </h3>


</div>